body {
  position: relative;
  color: white;
  background-color: #f44271;
  font-family: 'Montserrat', sans-serif;
}

#about-pg {
  padding: 10px 30px 10px 30px;
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: #f44271;
}

.about-text-div {
  font-size: 1.1rem;
  opacity: 0.85;
  margin: 10px 0 10px 0;
  padding: 10px;
}

.card-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-header {
  margin-bottom: 50px;
}

#about-pg .card {
  max-width: 250px;
  border-width: 0;
  margin: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

#about-pg .card-body {
  background-color: white;
  color: #B2DFDB;
}

.link-group a {
  border-radius: 0px;
}

#projects-pg {
  padding: 30px;
  margin-top: 60px;
  margin-bottom: 60px;
  color: black;
  background-color: #FFFFFF;
}

#projects-pg .card {
  color: white;
  background-color: #343A40;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

#projects-pg .card:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);

}

#projects-pg a {
  color: white;
}

#projects-pg a:hover {
  text-decoration: none;
}
