body {
  position: relative;
  color: white;
  background-color: #f44271;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

#about-pg {
  padding: 10px 30px 10px 30px;
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: #f44271;
}

.about-text-div {
  font-size: 1.1rem;
  opacity: 0.85;
  margin: 10px 0 10px 0;
  padding: 10px;
  font-weight: 300;
}

.card-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-header {
  margin-bottom: 50px;
}

#about-pg .card {
  max-width: 250px;
  border-width: 0;
  margin: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  font-weight: 400;
}

#about-pg .card-body {
  background-color: white;
  color: #f44271;
}

.link-group a {
  border-radius: 0px;
}

.desc {
  display: block;
}

#projects-pg {
  padding: 30px;
  margin-top: 60px;
  margin-bottom: 60px;
  color: black;
  background-color: #F2F2F2;
  align-items: center;
}

#projects-pg .card {
  color: black;
  border-radius: 0px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  margin: 10px;
  max-width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.description {
  margin-top: 20px;
  margin-bottom: 20px;
}

#projects-pg .card:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f44271;
}

#projects-pg a {
  color: black;
}

#projects-pg a:hover {
  text-decoration: none;
  color: white;
}

.contact-block {
  margin: 30 20 30 20;
  padding: 20px;
}

.contact-block h1 {
  margin-top: 40px;
}

form {
  max-width: 600px;
  margin-top: 60px;
  margin-bottom: 50px;
}

.footer {
  background-color: #15213d;
  margin-top: 50px;
  color: rgb(237, 234, 247);
  padding: 10px;
  font-weight: lighter;
}